@media screen and (min-width: 800px){
  .press_in_right {
    flex-basis: 50%;
    margin-left: 10px;
  }
  .press_in_left{
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
    margin-left: 0px;
    margin-right: 20px;
  }
  #wide{
    width: 70%;
  }
  .icon{
    width: 40px;
    height: 40px;
    border-radius:20px;
  }
  .date{
    font-size: 20px;
  }
  .title{
    font-size: 75px;
    text-align: center;
    height: 20px;
    line-height: 60px;
    height: 75px;
    border-bottom: #807f7f solid 2px;
  }
  .flexible{
    width: 70%;
  }
  #wide_in_before{
    border-right: 1px solid #5b5b5b;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  #wide_in_after{
    border-left: 1px solid #5b5b5b;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  #wide_in{
    width: 30%;
    flex-basis: 30%;
    height: fit-content;
  }
}
@media screen and (max-width: 800px){
  .press_in_right {
    margin-left: 2.5px;
  }
  .press_in_right p{
    margin: 0;
    margin-left: 5px;
  }
  .press_in_left{
    display: none;
  }
  #wide{
    width: 90%;
  }
  .date{
    height: 100%;
    line-height: 100%;
    overflow-wrap: break-word;
    text-align: right;
  }
  .title{
    font-size: 40px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    border-bottom: #807f7f solid 2px;
  }
  .flexible{
    width: 85%;
  }
  
  #wide_in_before{
    border-bottom: 1px solid #5b5b5b;
  }
  #wide_in_after{
    border-top: 1px solid #5b5b5b;
  }
  #wide_in{
    width: 80%;
    height: auto;
  }
  #discribe{
    display: none;
  }
}
.icon{
  border-radius:20px;
}
.press_in_left p{
  text-align: right;
}
#wide{
  display: block;
  margin: auto;
}
.press{
  height: 40px;
  display: flex;
}
.hover_can#wide_in_after:hover{
  border: 2px solid #00c6d4;
  transition: 0.25s;
  background-color: #2e3033;
}
.hover_can#wide_in_after:hover .chiled{
  color: #00c6d4;
  transition: 0.25s;
}
.hover_can#wide_in_after .chiled{
  color: #ffffff;
}
.hover_can#wide_in_before:hover{
  border: 2px solid #00c6d4;
  transition: 0.25s;
  background-color: #2e3033;
}
.hover_can#wide_in_before:hover .chiled{
  color: #00c6d4;
  transition: 0.25s;
}
.hover_can#wide_in_before .chiled{
  color: #ffffff;
}
.hover_can#wide:hover{
  border: 2px solid #00c6d4;
  transition: 0.25s;
  background-color: #2e3033;
}
.hover_can#wide{
  border-top: 1px solid #5b5b5b;
  border-bottom: 1px solid #5b5b5b;
}
.hover_can#wide:hover h1{
  color: #00c6d4;
  transition: 0.25s;
}
.hover_can#wide h1{
  color: #ffffff;
}
.twitter_icon:hover path{
  fill: #009bf5;
  transition: 0.25s;
}
.facebook_icon:hover path{
  fill: #3e5db1;
  transition: 0.25s;
}
.linkedin_icon:hover path{
  fill: #0070b5;
  transition: 0.25s;
}
.pinterest_icon:hover path{
  fill: #f10000;
  transition: 0.25s;
}
.search_container{
  box-sizing: border-box;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.2em;
  width: 250px;
  overflow: hidden;
  background: #3879D9;
}
.search_container input[type="text"]{
  border: none;
  height: 2.0em;
  background: #3879D9;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #fff;
  position: absolute;
  height: 2.5em;
  right: 8px;
  top: -10px;
  outline : none;
}
.search_container ::-webkit-input-placeholder {
  color: #fff;
}
#overwrap.overwrap{
  background-color: #000000;
  opacity: 0.5;
}
.close:hover path{
    fill: #232831;
    transition: 0.25s;
}
.overwrap_animation{
  animation-name:OverWrapAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
}
@keyframes OverWrapAnime{
  0%{
    background-color: rgba(100,100,100, 0.5);
    height: 0vh;
    background: #646464cc;
  }

  100%{
    background-color: rgba(100,100,100, 0.5);
    height: 100vh;
    background: #646464cc;
  }
}

.overwrap_off_animation{
    animation-name:OverWrapoffAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
}
@keyframes OverWrapoffAnime{
  0%{
    background-color: rgba(100,100,100, 0.5);
    height: 100vh;
    background: #646464cc;
  }

  100%{
    background-color: rgba(100,100,100, 0.5);
    height: 0vh;
    
  }
}