.twitter_icon:hover path{
  fill: #009bf5;
  transition: 0.25s;
}
.facebook_icon:hover path{
  fill: #3e5db1;
  transition: 0.25s;
}
.linkedin_icon:hover path{
  fill: #0070b5;
  transition: 0.25s;
}
.pinterest_icon:hover path{
  fill: #f10000;
  transition: 0.25s;
}
@media screen and (min-width: 801px){
    .flexible{
        width: 50%;
    }
    .min{
        display: none;
    }
    .max{
        display: block;
    }
    .max_flex{
        display: flex;
    }
    .icon{
        width: 200px;
        height: 200px;
    }
    .icon_wrap{
        margin-right: 100px;
    }
}
@media screen and (max-width: 801px){
    .flexible{
        width: 100%;
    }
    .min{
        display: block;
    }
    .max_flex{
        display: none;
    }
    .max{
        display: none;
    }
    .icon{
        width: 100px;
        height: 100px;
    }
    .icon_wrap{
        margin-right: 20px;
    }
}
.sumnail{
    width: 90%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    object-fit: cover;
    transition: 0.25s;
}
.can_hover:hover{
  box-shadow: 0px 0px 4px;
    background-color: #2e3033;
    transition: 0.25s;
}
.can_hover{
    border-top: 4px solid #444444;
    border-bottom: 4px solid #444444;
}
.can_hover:hover .sumnail{
    filter: brightness(150%) drop-shadow(0 3px 5px rgba(0,0,0,0.4));
    transform: scale(1.05);
}
.close:hover path{
  fill: #232831;
  transition: 0.25s;
}
.can_hover h1{
    color: #ffffff;
}
.can_hover:hover h1{
    color: #00c6d4;
    transition: 0.25s;
}

#input{
    appearance: none;
    border: none;
    outline: none;
    background-color: #5b5b5b;
    width: 70%;
    height: 40px;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    opacity: 1;
    border-radius: 20px;
    transition: 0.25s;
}
#input:focus{
    border: #0070b5 solid 2px;
}
#button{
    border: none;
    outline: none;
    width: 35%;
    height: 40px;
    margin-top: 30px;
    background-color: #5b5b5b;
    color: #ffffff;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    opacity: 1;
    border-radius: 20px;
    transition: 0.25s;
}
#button:focus{
    background-color: #0070b5;
}
.overwrap_animation{
    animation-name:OverWrapAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
}
@keyframes OverWrapAnime{
    0%{
      background-color: rgba(100,100,100, 0.5);
      height: 0vh;
      background: #646464cc;
    }
  
    100%{
      background-color: rgba(100,100,100, 0.5);
      height: 100vh;
      background: #646464cc;
    }
  }
  
  .overwrap_off_animation{
      animation-name:OverWrapoffAnime;
      animation-duration:0.5s;
      animation-fill-mode:forwards;
  }
  @keyframes OverWrapoffAnime{
    0%{
      background-color: rgba(100,100,100, 0.5);
      height: 100vh;
      background: #646464cc;
    }
  
    100%{
      background-color: rgba(100,100,100, 0.5);
      height: 0vh;
      
    }
  }